@import "fontello";
@import "bigfoot";

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#about {
  img {
    display: block;
    margin: 3em 0;
  }
  #social-links {
    margin: 2em 0;
    a {
      margin-right: .5em;
      text-decoration: none;
      font-size: larger;
      .label {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
      }
    }
  }
}
