// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#about {
  img {
    display: block;
    margin: 3em 0;
  }
  #social-links {
    margin: 2em 0;
    a {
      background: url(/images/sites.png) no-repeat;
      display: inline-block;
      float: left;
      height: 32px;
      margin-right: 4px;
      color: transparent;
      width: 32px;
      &#github {
        background-position: 0 -32px;
      }
      &#twitter {
        background-position: 0 -64px;
      }
      &#flickr {
        background-position: 0 -128px;
      }
      &#rss {
        background-position: 0 -96px;
      }
    }
  }
}
